header{

width:70%;
height: 50px;
color: burlywood;
background-color: cornflowerblue;
}
#rcb
{ background-color: crimson;
    font-style: oblique;
    font-size: medium;
    width: 70%;
}
.cls1
{
    color:midnightblue;
    background-color: cornsilk;
}