h2
{
color: aquamarine;
background-color: black;

}
#a
{float: left;
    background-color: cyan;
    color: ghostwhite;

    
}
#b{
    float: left;
    background-color: darkred;
    color: ghostwhite;
}